<div class="parent">
    <div class="inner-div">
      <div class="example-form-fields">
        <div>
          <mat-form-field>
            <mat-label>User Name</mat-label>
            <input
              class="example-full-width"
              name="username"
              ngModel
              [(ngModel)]="newParticipant.username"
              matInput
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Group Name</mat-label>
            <input
              class="example-full-width"
              name="groupName"
              ngModel
              [(ngModel)]="newParticipant.groupName"
              matInput
            />
          </mat-form-field>
        </div>
      </div>
  
      <div>
        <button mat-raised-button (click)="addParticipant()" color="accent">
          Create
        </button>
      </div>
    </div>
  </div>
  
  <ng-template class="dialog-box" #dialogRef let-mydata>
    <h3 class="heading">Message</h3>
    <h4 class="heading">{{ errorMessage }}</h4>
  
    <button
      class="dialog-button"
      color="primary"
      mat-button
      mat-dialog-close="close button"
    >
      Close
    </button>
  </ng-template>
  