<div class="parent">
  <div class="inner-div">
    <div>
      <mat-form-field>
        <mat-label>User Name</mat-label>
        <mat-select
          (selectionChange)="getGroupOfSelectedUserName()"
          [(ngModel)]="newExpense.username"
        >
          @for (user of participantList; track user) {
          <mat-option [value]="user.username">{{ user.username }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Group Name</mat-label>
        <input
          type="text"
          disabled
          [placeholder]="newExpense.groupName"
          [(ngModel)]="newExpense.groupName"
          matInput
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input type="number" [(ngModel)]="newExpense.amount" matInput />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Expense Name</mat-label>
        <input [(ngModel)]="newExpense.expenseName" matInput />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button (click)="addExpense()" color="accent">
        Create
      </button>
    </div>
  </div>
</div>

<ng-template class="dialog-box" #dialogRef let-mydata>
  <h3 class="heading">Message</h3>
  <h4 class="heading">{{ errorMessage }}</h4>

  <button
    class="dialog-button"
    color="primary"
    mat-button
    mat-dialog-close="close button"
  >
    Close
  </button>
</ng-template>
